<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>易买网 - 首页</title>
	<script type="text/javascript" th:src="@{/scripts/function.js}" src="../../static/scripts/function.js"></script>
	<link rel="stylesheet" th:href="@{/css/style_front.css}" href="../../static/css/style_front.css" />
	<style type="text/css">
		.item{width:120px;height:160px;overflow:hidden;float:left;margin:30px;text-align:center;}
	</style>
</head>

<body>
<div id="header" class="wrap">
	<div id="logo"><img src="../../static/images/logo.gif" th:src="@{/images/logo.gif}" /></div>
	<div class="help">
		<p style="font-size: 13px;color: brown; font-weight: bold" th:if="${user}==null" th:text="未登录"></p>
		<p style="font-size: 13px;color: brown; font-weight: bold" th:if="${user}!=null" th:text="${user}+已登录"></p>
		<a href="#" class="shopping">购物车</a>
		<a href="../login.html" th:href="@{/user/login.html}">登录</a>
		<a href="../register.html" th:href="@{/user/register.html}">注册</a>
		<a href="../front_tai/guestbook.html" th:href="@{/add.html}">留言</a>
	</div>
	<div class="navbar">
		<ul class="clearfix">
			<li class="current"><a th:href="@{/index}">首页</a></li>
			<li><a href="#">图书</a></li>
			<li><a href="#">百货</a></li>
			<li><a href="#">品牌</a></li>
			<li><a href="#">促销</a></li>
		</ul>
	</div>
</div>
<div id="childNav">
	<div class="wrap">
		<ul class="clearfix">
			<li class="first"><a href="#">音乐</a></li>
			<li><a href="#">影视</a></li>
			<li><a href="#">少儿</a></li>
			<li><a href="#">动漫</a></li>
			<li><a href="#">小说</a></li>
			<li><a href="#">外语</a></li>
			<li><a href="#">数码相机</a></li>
			<li><a href="#">笔记本</a></li>
			<li><a href="#">羽绒服</a></li>
			<li><a href="#">秋冬靴</a></li>
			<li><a href="#">运动鞋</a></li>
			<li><a href="#">美容护肤</a></li>
			<li><a href="#">家纺用品</a></li>
			<li><a href="#">婴幼奶粉</a></li>
			<li><a href="#">饰品</a></li>
			<li class="last"><a href="#">Investor Relations</a></li>
		</ul>
	</div>
</div>
<div id="position" class="wrap">
	您现在的位置：<a href="index.html">易买网</a> &gt; <a href="product-list.html">图书音像</a> &gt; 图书
</div>
<div id="main" class="wrap">
	<div class="lefter">
		<div class="box">
			<h2>商品分类</h2>
			<dl th:each="fproca,status: ${page_procate.list}">
				<dd><a th:text="${fproca.epc_name}" th:href="@{/products/list}">图书音像</a></dd>
			</dl>
		</div>
		<div class="spacer"></div>
		<div class="last-view">
			<h2>最近浏览</h2>
			<dl class="clearfix">
				<dt><img src="../../static/images/product/0_tiny.gif" th:src="@{/images/product/0_tiny.gif}" /></dt>
				<dd><a href="#">法国德菲丝松露精品巧克力500g/盒</a></dd>
				<dt><img src="../../static/images/product/0_tiny.gif" th:src="@{/images/product/0_tiny.gif}" /></dt>
				<dd><a href="#">法国德菲丝松露精品巧克力500g/盒</a></dd>
			</dl>
			<script type="text/javascript">
				document.write("Cookie中记录的购物车商品ID："+ getCookie("product") + "，可以在动态页面中进行读取");
			</script>
		</div>
	</div>
	<div class="main">
		<div class="product-list">
			<h2>全部商品</h2>
			<div class="pager">
				<ul class="clearfix">
					<li><a href="#">上一页</a></li>
					<li class="current">1</li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">下一页</a></li>
				</ul>
			</div>
			<div class="clear"></div>
			<div class="layui-form" th:each="product,status: ${page_products.list}">
				<div class="item">
					<img style="width: 110px; height:90px; margin:10px 10px 5px 1px" th:src="@{${product.ep_file_name}}"></img>
					<p class="font"><a href="#" th:href="@{/view.html(id=${product.id})}" th:text="${product.ep_name}"></a></p>
					<p style="color: red; font-size: 20px;">￥<span th:text="${product.ep_price}"/></p>
				</div>
			</div>
			<div class="clear"></div>
			<div class="pager">
				<ul class="clearfix">
					<li><a href="#">上一页</a></li>
					<li class="current">1</li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">下一页</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div id="footer">
	Copyright &copy; 2013 易买网 All Rights Reserved. 川ICP证1000001号
</div>
</body>
</html>
