.container{
    display:table;
    height:100%;
    margin-top: 10%;
    margin-right: 35%;
}

.row{
    display: table-cell;
    vertical-align: middle;
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
.font{
    color: red;
}
body {
    background: url("../images/bei.jpg") no-repeat;
    background-size: cover;
}